<!DOCTYPE html>
<html lang="en">

<%- include('head') %>

<body id="app" class="block font-sans">
  <div class="background-images">
  </div>
  <div class="main">
    <!--start hero-->
    <div class="pt-32 hero">
      <!--header component-->
      <%- include('navigation') %>
      <!--end header component-->
      <!--banner component-->
      <div class="flex relative w-full">
        <img src="/images/pexels-antonio-sokic-3839432 1.svg" class="w-full short-banner-img">
        <div class="absolute overlay-short-banner"></div>
        <p class="absolute top-1/2 left-1/2 bg-clip-text -translate-x-1/2 -translate-y-1/2">
          <span class="font-sans text-5xl font-bold text-center text-white uppercase md:text-9xl">Daily Deals</span>
        </p>
      </div>
      <!--end banner component-->
    </div>
    <!--end hero-->

    <!--start main-->
    <div class="container mx-auto my-0">
      <!--store details logo background-->
      <div class="absolute -z-10">
        <img src="./storelogo.svg">
      </div>
      <!--end store details logo background-->
      <!--start mais store details-->

    </div>
  </div>
  <!--end main-->

  <%- include('footer') %>
  <%- include('scripts') %>
</body>

</html>